<div class="container mt-5">
  <h1 class="text-center">Company Information</h1>
  <div class="row mt-4">
    <div class="col-md-6 mx-auto">
      <div class="list-group">
        <!-- Loop through company data -->

        <div class="container">
          <div class="row">
            <div class="col">
              <a class="btn btn-outline-success btn-block" [routerLink]="['/companies']">Companies</a>
            </div>
            <div class="col">
              <a class="btn btn-outline-success btn-block" [routerLink]="['/vacancies']">Vacancies</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
