
<div class  = "main-page">
    <div class="col" style="display: flex">
        <div class="row-sm-10 column">
            <div class="card">
                <div class="card-body" style="width: 500px">
                    <h5 class="card-title"><strong>Categories</strong></h5>
                    <p class="card-text">Here all categories in store. It's easy to find products by categories.</p>
                    <a routerLink = '/category' class="btn btn-outline-success">Go further</a>
                </div>
            </div>
        </div>
        <div class="row-sm-10 column">
            <div class="card">
                <div class="card-body" style="width: 500px">
                    <h5 class="card-title"><strong>Products</strong></h5>
                    <p class="card-text">Here all products in the store</p>
                    <a routerLink = '/products' class="btn btn-outline-success">Go further</a>
                </div>
            </div>
        </div>
    </div>
</div>